
:root{
   --menuSelectionColor: rgb(39, 230, 230);
   --menuItemColor: whitesmoke;
}

a{
   text-decoration: none;
   color: whitesmoke;
}

.accordionButton > p{
   color: whitesmoke;
}

a:hover{
   color: var(--menuSelectionColor);
}

.accordionButton:hover > a, .accordionButton:hover > p{
   color: var(--menuSelectionColor);
}

/*accordionButton*/
.accordionButton{
   display: inline;
}


.opened, .closed{
   /*font-weight: bold;*/
}

.opened{
   font-size: 0.7em;
}

.closed{
   font-size: 0.7em;
}

.accordionButton > .opened{
   display: none;
}

.accordionButton > .closed{
   display: inline;
}

.active > .opened{
   display: inline;
}

.active > .closed{
   display: none;
}

.accordionContent{
   display: none;
}

.UPBlogo{
   display: flex;
   display: flex;
   align-items: center;
   justify-content: center;

   width: 100%;
   height: 70px;
   /*position: fixed;*/
   bottom: 0px;
   left: 0px;

   background-color: var(--backgroundColor);
}

.UPBlogo > img{
   width: 150px;
   height: 100px;
}

/* -------------------------- MODULE3* -------------------------- */



.m3-settingsAccordionContent{
   display: none;
   align-items: center;
   justify-content: center;
}

.m3-settingsAccordionContentBox{
   margin: 5px;
   width: 90%;
}

.m3-inputSelect > p{
   display: inline;
}

.m3-input > input{
   width:100%;
}

.m3-addButton{
   margin-top: 10px;
   width:100%;
}
